

.links{
    color: #6f60cc;
    text-decoration: none;
    font-weight: 600;
    font-family: sans-serif;
}

.links:hover{
    color: #7a6ae3;
    text-decoration: underline;
    cursor: pointer;
}

.line{
    width: 100%;
    height: 3px;
    background-color: rgb(58, 58, 58);
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgb(171, 171, 171);
}

.links{
    text-decoration: none;
    color: black;
}

.links :hover{
    text-decoration: none;
    color: black;
}

.d-flex img{
    height: 135px;
    width: 250px;
}

.feature_text{
    margin-left: 10px;
}

.elecontainer img{
    height: 200px;
    width: 300px;
}

@media screen and (max-width: 480px) {
    body{
        overflow-x: hidden;
    }
    .row{
        display: block;
    }
    .col-5{
        width: 100%;
    }
    .col-7{
        width: 100%;
    }
    .d-flex{
        flex-direction: column;
    }
    .d-flex img{
        height: 180px;
        width: 100%;
    }
    .feature_text{
        margin-left: 0;
    }

    .elecontainer{
        margin-left: 10px;
        margin-right: 10px;
    }
    .elecontainer img{
        height: 200px;
        width: 96%;
    }

    .elecontainer h5{
        width: 98%;
    }
    .elecontainer p{
        width: 98%;
    }
    .mainBanner{
        margin-left: 10px;
        margin-right: 10px;
    }
    .mainBanner img{
        width: 96%;
    }
    
}
@media screen and (max-width: 840px) {
    body{
        overflow-x: hidden;
    }
    .row{
        display: block;
    }
    .col-5{
        width: 100%;
    }
    .col-7{
        width: 100%;
    }
    .d-flex{
        flex-direction: column;
    }
    .d-flex img{
        height: 350px;
        width: 100%;
    }
    .feature_text{
        margin-left: 0;
    }

    .elecontainer{
        margin-left: 10px;
        margin-right: 10px;
    }
    .elecontainer img{
        height: 350px;
        width: 96%;
    }

    .elecontainer h5{
        width: 98%;
    }
    .elecontainer p{
        width: 98%;
    }
    .mainBanner{
        margin-left: 10px;
        margin-right: 10px;
    }
    .mainBanner img{
        width: 96%;
    }
    
}
